<div class="footer">
  <div class="contact">
    Want to hear more?
    <a href="">Email</a>
    {?PHONE NUMBER?}
  </div>
  <div class="sprites">
    <a href="https://www.facebook.com/Gracefully-Golden-LLC-1120645428132992">
      <svg>
        <use xlink:href="fa-brands.svg#facebook"></use>
      </svg>
    </a>
  </div>
</div>
