<div class="nav-bar">
  <div class="nav-bar-container">
    <div class="nav-bar-container-link">
      I'm a little teapot
    </div>
  </div>
  <div class="nav-bar-container">
    <div class="nav-bar-container-link">
      Aboot
    </div>
  </div>
  <div class="nav-bar-container">
    <div class="nav-bar-container-link">
      Cerveza
    </div>
  </div>
</div>
