<div class="nav-bar">
  <a class="nav-bar-container">
    <div class="nav-bar-container-link">
      I'm a little teapot
    </div>
  </a>
  <a class="nav-bar-container">
    <div class="nav-bar-container-link">
      Aboot
    </div>
  </a>
  <a class="nav-bar-container">
    <div class="nav-bar-container-link">
      Cerveza
    </div>
  </a>
</div>
