<div class="title-bar">
  <div class="title-bar-logo">
    Gracefully Golden
  </div>
  <div class="title-bar-tagline">
    Helping you to create your own personal wellness
  </div>
  {{nav-bar}}
</div>
